body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    color: #34d341;
    margin: 25px;
}

h1 {
    color: #008075;
}

p {
    font-size: 25px;
    line-height: 2;
}

a {
    color: #022904;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
